@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  background: #293a49;
  color: #c3c3c3;
  height: 100%;
}

*::-webkit-scrollbar {
    width: 0.5em;
}
 
*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(26, 26, 26, 0.9);
    -webkit-box-shadow: inset 0 0 6px rgba(26, 26, 26, 0.9);
}
 
*::-webkit-scrollbar-thumb {
  background-color: #1d1f20;
  outline: 1px solid #1d1f20;
}

main {
  display: inline-block;
  float: right;
  padding: 25px;
  margin-bottom: 100px;
  width: 80%;
  height: 100%;
}

footer {
  position: fixed;
  display: block;
  width: 80%;
  padding: 15px 15px;
  float: right;
  right: 0;
  bottom: 0;
  background: #1d1f20;
}

h1,
h2 {
  margin: 15px 0;
  border-bottom: 2px solid #c3c3c3;
}

pre {
  font-size: 85%;
  /*white-space: pre-wrap;*/
}

.btn{
  color: #c3c3c3;
  border-left: #222;
  float: right;
/*  text-transform: uppercase;*/
  display: block;
  padding: 10px;
  background: #2d81cb;
  border-radius: 5px;
}

.btn:hover {
  background: #2a78bd;
  cursor: pointer;
}

nav {
  position: fixed;
  width: 20%;
  height: 100%;
  float: left;
  background: #1d1f20;
  overflow: auto;
}

#components {
  width: 100%;
  list-style-type: none;
  display: inline-block;
}

#components li {
  padding: 8px 10px;
  border-bottom: 1px solid #333;
}

#components li.active{
  background: #333;
}

#components li:hover {
  background: #333;
  cursor: pointer;
  border-bottom: 1px solid #333;
}

#components li a {
  text-decoration: none;
  color: #fff;
  font-size: 98%;
  color: #c3c3c3;
}

.image-responsive {
  width: 100%;
}

.title {
  display: block;
  padding: 8px 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #333;
}